[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "HK80"]
	path = HK80
	url = https://github.com/helixcn/hk80
[submodule "spaa"]
	path = spaa
	url = https://github.com/helixcn/spaa
